* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family:Roboto;
    display:flex;
    flex-direction: column;
}
.landing {
    background:white;
}
.hero, .copyright {
    flex:1;
    background:#1F2937;
    color:#F9FAF8;
}
.logo {
    font-size:24px;
}
.hero-header {
    font-size: 48px;
    font-weight: 900;
}
.links, .secondary {
    font-size:18px;
    color:#E5E7EB;
}
.button, .button2 {
    background-color: #3882F6;
    border:5px #3882F6;
    border-radius: 8px;
    padding:6px 25px;
    color:#F9FAF8;
}
li {
    list-style: none;
}
img {
    width:400px;
    height:200px;
}

.hero {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    /* padding:12px 200px 30px; */
    padding:0 200px 100px;
    gap:100px;
}
.header {
    flex:1;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.two {
    flex:1;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:12px;
}
.secondary {
    margin-bottom: 8px;
}
ul {
    display:flex;
    gap:12px;
}

.info {
    padding: 100px;
}
.info-header {
    font-size:36px;
    color: #1f2937;
    font-weight:900;
    text-align: center;
    padding: 0 0 30px;
}

.boxes {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:52px;
}
.box {
    display:flex;
    flex-direction: column;
    align-items: center;text-align: center;
    gap:12px;
}
.subtext {
    width:150px;
    font-size:11px;
    color:#605858;
}
.square {
    height: 150px;
    width: 150px;
    outline:aqua 2px solid;
    border-radius: 5%;
    flex-shrink:0;
}

.quotes {
    /* display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color: #E5E7EB;
    padding: 100px 200px;
}
.quote {
    font-size:36px;
    color:#1F2937;
    font-weight:300;
}
.author {
    text-align: right;
}
.four {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:70px;
}
.actions {
    flex-basis:900px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background:#3882F6;
    padding:16px 12px;
    border-radius: 5px;
}
.action {
    color:#F9FAF8;
}

.button2 {
    outline:white 2px solid;
}

.copyright{
    display:flex;
    align-items: center;
    justify-content: center;
    height:60px
}